#!/usr/bin/env ruby

# Don’t filter or layout archives, collections, or assets
compile %r{^/(archives/.*|collections/.*|favicon|stylesheets/.*|images/.*)/$} do
end

# Sitemap, RSS feed, and htaccess get filtered with erb, but get no layout.
compile %r{^/(sitemap|htaccess|feed)/$} do
  filter :erb
end

# Topics get their own layout
compile %r{^/topics/.+} do
  filter :erb
  layout 'topic'
end

# Everything else gets a filter and a layout
compile '*' do
  case item[:extension]
    when 'md'
      filter :rdiscount
    when 'html'
      filter :erb
  end
  layout 'default'
end

# Don't mess with anything in archives, collections, stylesheets, images, or the favicon or sitemap
route %r{^/(archives/.*|collections/.*|favicon|sitemap|stylesheets/.*|images/.*)/$} do
  ext = item[:extension]
  item.identifier.chop + '.' + ext
end

# Everything else gets converted from filename.html to filename/index.html
route '*' do
  item.identifier + 'index.html'
end

# Unless otherwise specified, roll things through ERB to process embedded ruby code.
layout '*', :erb
